{% extends 'base_dosen.html' %}

{% block content %}
<!-- Konten spesifik halaman ini -->
<div class="container-fluid">
  <div class="container-fluid">
    <div class="card">
      <div class="card-body">
        <div class="card-body p-4">
          <h5 class="card-title fw-semibold mb-4">Recent Transactions</h5>
          <div class="table-responsive">
            <table class="table text-nowrap mb-0 align-middle">
              <thead class="text-dark fs-4">
                <tr>
                  <th class="border-bottom-0">
                    <h6 class="fw-semibold mb-0">NIM</h6>
                  </th>
                  <th class="border-bottom-0">
                    <h6 class="fw-semibold mb-0">Location:</h6>
                  </th>
                  <th class="border-bottom-0">
                    <h6 class="fw-semibold mb-0">Name:</h6>
                  </th>
                  <th class="border-bottom-0">
                    <h6 class="fw-semibold mb-0">Status</h6>
                  </th>
                  <th class="border-bottom-0">
                    <h6 class="fw-semibold mb-0">Detail</h6>
                  </th>
                </tr>
              </thead>
              <tbody>
                {% for student in stud_iisma %}
                <tr>
                  <td class="border-bottom-0"><h6 class="fw-semibold mb-0">{{ student[0].nim }}</h6></td>
                  <td class="border-bottom-0">
                    <h6 class="fw-semibold mb-1">{{ student[0].univ}}</h6>
                    <span class="fw-normal">{{ student[0].location}}</span>  
                  </td>
                  <td class="border-bottom-0">
                    <p class="mb-0 fw-normal">{{ student[1].nama }}</p>
                  </td>
                  <td class="border-bottom-0">
                    <div class="d-flex align-items-center gap-2">
                    {% if student[0].status == 'Interested' %}
                      <span class="badge bg-secondary rounded-3 fw-semibold">{{student[0].status}}</span>
                    {% elif student[0].status == 'Applying' %}
                      <span class="badge bg-primary rounded-3 fw-semibold">{{student[0].status}}</span>
                    {% elif student[0].status == 'Accepted' %}
                      <span class="badge bg-success rounded-3 fw-semibold">{{student[0].status}}</span>
                    {% elif student[0].status == 'Boarding' %}
                      <span class="badge bg-danger rounded-3 fw-semibold">{{student[0].status}}</span>
                    {% elif student[0].status == 'On Going' %}
                      <span class="badge bg-warning rounded-3 fw-semibold">{{student[0].status}}</span>
                    {% elif student[0].status == 'Finished' %}
                      <span class="badge bg-success rounded-3 fw-semibold">{{student[0].status}}</span>
                    {% else %}
                      <span class="badge bg-secondary rounded-3 fw-semibold">{{student[0].status}}</span>
                    {% endif %}
                    </div>
                  </td>
                  <td class="border-bottom-0">
                    <a href="{{ url_for('iisma_view', user_id=student[0].nim) }}"><h6 class="fw-semibold mb-0 fs-4">Detail</h6></a>
                  </td>
                </tr> 
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
