{% extends 'base_mahasiswa.html' %}

{% block content %}
<!-- Konten spesifik halaman ini -->
<div class="container-fluid">
  <div class="container-fluid">
    <div class="card">
      {% if session.get('role') == 'mahasiswa' %}
      <form action="{{ url_for('iisma')}}" method="post">
      {% elif session.get('role') == 'dosen' %}
      <form action="{{ url_for('iisma_update', user_id=student_inf.nim)}}" method="post">
      {% endif %}
        <div class="card-body">
          <h5 class="card-title fw-semibold mb-4">Student Information</h5>
          <div class="card">
            <div class="card-body">
              <div class="mb-3">
                <label for="nama" class="form-label">nama: </label>
                <input type="text" class="form-control" id="nama" name="nama" value="{{ student_inf.nama }}" readonly aria-describedby="emailHelp" style="background-color: #e9ecef; color: #495057; border: 1px solid #ced4da;" >
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
              </div>
              <div class="mb-3">
                <label for="nim" class="form-label">NIM:</label>
                <input type="text" class="form-control" id="nim" name="nim" value="{{ student_inf.nim }}" readonly aria-describedby="emailHelp" style="background-color: #e9ecef; color: #495057; border: 1px solid #ced4da;" >
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
              </div>
              <div class="mb-3">
                <label for="wali" class="form-label">Wali:</label>
                <input type="text" class="form-control" id="wali" name="wali" value="{{ student_inf.wali }}" readonly aria-describedby="emailHelp" style="background-color: #e9ecef; color: #495057; border: 1px solid #ced4da;" >
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
              </div>
            </div>
          </div>
          <h5 class="card-title fw-semibold mb-4">Study Period</h5>
          <div class="card">
            <div class="card-body">
              <div class="mb-3">
                <label for="disabledSelect" class="form-label">Disabled select menu</label>
                {% if session.get('role') == 'dosen' %}
                <select id="status" name="status" class="form-select">
                  <option value="interested" {% if iisma_inf.status == 'interested' %}selected{% endif %}>Interested</option>
                  <option value="applying" {% if iisma_inf.status == 'applying' %}selected{% endif %}>Applying</option>
                  <option value="accepted" {% if iisma_inf.status == 'accepted' %}selected{% endif %}>Accepted</option>
                  <option value="boarding" {% if iisma_inf.status == 'boarding' %}selected{% endif %}>Boarding</option>
                  <option value="on-going" {% if iisma_inf.status == 'on-going' %}selected{% endif %}>On Going</option>
                  <option value="finished" {% if iisma_inf.status == 'finished' %}selected{% endif %}>Finished</option>
                </select>
                {% elif session.get('role') == 'mahasiswa' %}
                <input type="text" class="form-control" id="status" name="status" value="{{iisma_inf.status}}" readonly aria-describedby="emailHelp">
                {% endif %}
                <!-- <label for="status" class="form-label">Status: </label> -->
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
              </div>
              <div class="mb-3">
                <label for="location" class="form-label">Location:</label>
                <input type="text" class="form-control" id="location" name="location" value="{{ iisma_inf.location}}" aria-describedby="emailHelp" {% if session.get('role') == 'mahasiswa' %} readonly style="background-color: #e9ecef; color: #495057; border: 1px solid #ced4da;" {% endif %}>
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
              </div>
              <div class="mb-3">
                <label for="univ" class="form-label">University:</label>
                <input type="text" class="form-control" id="univ" name="univ" value="{{iisma_inf.univ}}" aria-describedby="emailHelp" {% if session.get('role') == 'mahasiswa' %} readonly style="background-color: #e9ecef; color: #495057; border: 1px solid #ced4da;" {% endif %}>
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
              </div>
              <div class="mb-3">
                <label for="intake_year" class="form-label">Intake Year:</label>
                <input type="text" class="form-control" id="intake_year" name="intake_year" value="{{iisma_inf.intake_year}}" aria-describedby="emailHelp" {% if session.get('role') == 'mahasiswa' %} readonly style="background-color: #e9ecef; color: #495057; border: 1px solid #ced4da;" {% endif %}>
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
              </div>
              <div class="mb-3">
                <label for="intake" class="form-label">Intake:</label>
                <input type="date" class="form-control" id="intake" value="{{iisma_inf.intake}}" name="intake" aria-describedby="emailHelp" {% if session.get('role') == 'mahasiswa' %} readonly style="background-color: #e9ecef; color: #495057; border: 1px solid #ced4da;" {% endif %}>
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
              </div>
              <div class="mb-3">
                <label for="from" class="form-label">From:</label>
                <input type="date" class="form-control" id="from" name="from" value="{{ iisma_inf.from_date }}" aria-describedby="emailHelp" {% if session.get('role') == 'mahasiswa' %} readonly style="background-color: #e9ecef; color: #495057; border: 1px solid #ced4da;" {% endif %}>
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
              </div>
              <div class="mb-3">
                <label for="until" class="form-label">Until:</label>
                <input type="date" class="form-control" id="until" value="{{ iisma_inf.until }}" name="until" aria-describedby="emailHelp" {% if session.get('role') == 'mahasiswa' %} readonly style="background-color: #e9ecef; color: #495057; border: 1px solid #ced4da;" {% endif %}>
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
              </div>
            </div>
          </div>
          <h5 class="card-title fw-semibold mb-4">At Telu</h5>
          <div class="card">
            <div class="card-body">
              <div class="mb-3">
                <label for="semester" class="form-label">Semester: </label>
                <input type="text" class="form-control" id="semester" name="semester" value="{{ iisma_inf.sem_at_telu}}" aria-describedby="emailHelp">
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
              </div>
              <div class="mb-3">
                <label for="gpa" class="form-label">GPA:</label>
                <input type="text" class="form-control" id="gpa" name="gpa" value="{{ student_inf.gpa }}" aria-describedby="emailHelp">
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
              </div>
              <div class="mb-3">
                <label for="transcript" class="form-label">Transcript:</label>
                <input type="text" class="form-control" id="transcript" name="transcript" value="{{ iisma_inf.transcript_telu }}" aria-describedby="emailHelp">
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
              </div>
            </div>
          </div>
          <h5 class="card-title fw-semibold mb-4">At IISMA University</h5>
          <div class="card">
            <div class="card-body">
              <div class="mb-3">
                <label for="semester_at_iisma" class="form-label">Semester: </label>
                <input type="text" class="form-control" id="semester_at_iisma" name="semester_at_iisma" value="{{ iisma_inf.sem_at_exch }}" aria-describedby="emailHelp">
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
              </div>
              <div class="mb-3">
                <label for="gpa_at_iisma" class="form-label">GPA:</label>
                <input type="text" class="form-control" id="gpa_at_iisma" name="gpa_at_iisma" value="{{ iisma_inf.gpa }}" aria-describedby="emailHelp">
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
              </div>
              <div class="mb-3">
                <label for="latest_update_iisma" class="form-label">Latest Update:</label>
                <input type="date" class="form-control" id="latest_update_iisma" name="latest_update_iisma" value="{{ iisma_inf.update_gpa}}" aria-describedby="emailHelp">
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>              </div>
              <div class="mb-3">
                <label for="transcript_at_iisma" class="form-label">Transcript:</label>
                <input type="text" class="form-control" id="transcript_at_iisma" name="transcript_at_iisma" value="{{ iisma_inf.transcript_exch }}" aria-describedby="emailHelp">
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
              </div>
            </div>
          </div>
          {% if session.get('role') == 'dosen' %}
          <h5 class="card-title fw-semibold mb-4">Tuition fee adjustment</h5>
          <div class="card">
            <div class="card-body">
              <div class="mb-3">
                <label for="discount" class="form-label">Discount: </label>
                <input type="text" class="form-control" id="discount" name="discount" value="{{bpp_inf.discount}}" aria-describedby="emailHelp">
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
              </div>
              <!-- <div class="mb-3">
                <label for="status" class="form-label">Status:</label>
                <input type="text" class="form-control" id="status" name="status" value="{{bpp_inf.status}}" aria-describedby="emailHelp">
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
              </div> -->
              <div class="mb-3">
                <label for="period_discount" class="form-label">Period of Discount:</label>
                <input type="text" class="form-control" id="period_discount" name="period_discount" value="{{bpp_inf.period}}" aria-describedby="emailHelp">
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
              </div>
              <div class="mb-3">
                <label for="notes" class="form-label">Notes:</label>
                <input type="text" class="form-control" id="notes" name="notes" value="{{bpp_inf.notes}}" aria-describedby="emailHelp">
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
              </div>
            </div>
          </div>
          {% endif %}
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- <h1>{{student_inf}}</h1>
<h1>{{iisma_inf}}</h1> -->
<input type="hidden" id="role" value="{{ session.get('role') }}">
<script src="{{ url_for('static', filename='js/app.js') }}"></script>
{% endblock %}